<nav [class]="appConfig.rootIdsAndClasses.navClass">
  <app-button
    *ngFor="let item of appConfig.navItems"
    [id]="item.domId"
    [label]="getNavLabel(item.labelKey)"
    [variant]="item.buttonVariant ?? appConfig.ui?.navButtonVariant ?? 'primary'"
    [size]="item.buttonSize ?? appConfig.ui?.navButtonSize ?? 'md'"
    [disabled]="!canAccessNav(item)"
    (clicked)="selectView(item.viewId)"
  ></app-button>
</nav>

<section class="content">
  <app-sso-home *ngIf="currentView === 'sso'"></app-sso-home>
  <app-worksheets *ngIf="currentView === 'worksheets'"></app-worksheets>
  <app-tables *ngIf="currentView === 'tables'"></app-tables>
</section>

<app-status-banner
  [type]="hostStatus.isExcel ? (appConfig.ui?.hostStatusBannerType ?? 'info') : 'warning'"
  [title]="hostStatus.isExcel ? '' : text.hostStatus.excelNotDetectedLabel"
  [message]="hostStatus.isExcel ? '' : text.hostStatus.excelNotDetectedMessage"
></app-status-banner>
